# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB=investment_calc

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# Server Configuration
PORT=3001

# CORS Configuration (optional)
CORS_ORIGIN=https://investment-calc-six.vercel.app/
